<!DOCTYPE html>
<!-- saved from url=(0041)file:///C:/Users/HN/Downloads/page_2.html -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Where meet</title>

<style>

  #div_page{
    width:1920px;
    height:1080px;
  }

  #div_title{
    width:1500px;
    heigth:225px;
    font-size:100px;
  }

  #div_main{
    width:1500px;
    height:856px;
  }

  #div_color {
    width:1430px;
    height:738px;
  }

  #div_white {
    width:1430px;
    height:738px;
  }
  .left{
    width:50%;
    height:100%;
  }
  .right{
    width:50%;
    height:100%;
  }

  #div_page_button{
      width:70px;
      height:738px;
  }
  .person_1{
    width:100%;
    height:246px;
  }
  .person_2{
    width:100%;
    height:246px;
  }
  .person_3{
    width:100%;
    height:246px;
  }

  #div_enter{
    width:500px;
    height:60px;
  }

  #div_button{
    width:230px;
    height:60px;
  }
  .button_left{
    width:230px;
    height:80px;
  }
  .button_right{
    width:230px;
    height:80px;
  }

  #div_map{
    width:500px;
    height:500px;
  }

  #div_name{
    width:500px;
    height:120px;
  }
  .text_name{
    width:100%;
    height:35px;
  }
  .enter_name{
    width:100%;
    height:35px;
  }

  #div_address{
    width:500px;
    height:120px;
  }
  .text_address{
    width:100%;
    height:35px;
  }
  .enter_address{
    width:100%;
    height:35px;
  }

</style>
</head>

<body>
  <script type="text/javascript">
  function go_page1(){
    location.href="/";
  }
  </script>

<form action="/1" method="post">
  <input type="text" id="x" name="x" readonly="" value="" style="
    width: 0px;
    height: 0px;
    border:none;
    border-right:0px;
    border-top:0px;
    boder-left:0px;
    boder-bottom:0px;
">

  <input type="text" id="y" name="y" readonly="" value="" style="
    border:none;
    border-right:0px;
    border-top:0px;
    boder-left:0px;
    boder-bottom:0px;
    width: 0px;
    height: 0px;
">
  <div id="div_page" style="padding:0px 210px 0px 210px">
    <div id="div_title" align="center">
      <font style="font-size:100pt; font-weight:bold;">Where Meet</font>
    <hr color="black" width="1430px" size="5px"></div>
    <div id="div_main" style="padding:0px 59px 0px 59px; display:inline;">
      <div id="div_color" style="background-color:#808080; padding:49px 45px 49px 45px; display:inline; float:left;">
        <div id="div_white" style="background-color:white; display:inline;">
          <div class="left" style="background-color:white; display:inline; float:left;">
            <div id="div_name" style="background-color:white; margin:107px 50px 60px 50px">
              <div class="text_name" style="margin:0px 0px 50px 0px">
                <font style="font-size:50pt; font-weight:bold;">NAME</font>
              </div>
              <div class="enter_name" style="">
                <input type="text" name="name" style="width:100%; height:50px;">
              </div>
            </div>
            <div id="div_address" style="background-color:white; margin:60px 50px 30px 50px">
              <div class="text_address" style="margin:0px 0px 50px 0px">
                <font style="font-size:50pt; font-weight:bold;">ADDRESS</font>
              </div>
              <div class="enter_address" style="">
                  <input type="text" name="address" style="width:100%; height:50px" id="sample5_address" placeholder="주소" onclick="sample5_execDaumPostcode()" readonly>
              </div>
            </div>
            <div class="button_left" style="background-color:black; display:inline; float:left; margin:80px 0px 30px 50px">
              <input type="button" style="width:100%; height:100%" value="BACK" onclick="go_page1()">
            </div>
            <div class="button_right" style="background-color:black; display:inline; float:left; margin:80px 0px 30px 44px">
              <input type="submit" style="width:100%; height:100%" value="NEXT">
            </div>
          </div>
          <div class="right" style="background-color:white; display:inline; float:left;">
            <div id="div_map" style="background-color:gray; margin:107px 85px 107px 85px"></div>
          </div>
        </div>
      </div>
      <div id="div_page_button" style="display:inline; float:left;">
        <div class="person_1" style="background-color:#4b4c4c;"></div>
        <div class="person_2" style="background-color:#808080;"></div>
        <div class="person_3" style="background-color:#b7b7b7;"></div>
      </div>
    </div>
  </div>
</form>

<script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=baf88814046b5b76cb40dfc91449ee4d&libraries=services"></script>
<script>
    var mapContainer = document.getElementById('div_map'), // 지도를 표시할 div
        mapOption = {
            center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    //지도를 미리 생성
    var map = new daum.maps.Map(mapContainer, mapOption);
    //주소-좌표 변환 객체를 생성
    var geocoder = new daum.maps.services.Geocoder();
    //마커를 미리 생성
    var marker = new daum.maps.Marker({
        position: new daum.maps.LatLng(37.537187, 127.005476),
        map: map
    });


    function sample5_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var fullAddr = data.address; // 최종 주소 변수
                var extraAddr = ''; // 조합형 주소 변수

                // 기본 주소가 도로명 타입일때 조합한다.
                if(data.addressType === 'R'){
                    //법정동명이 있을 경우 추가한다.
                    if(data.bname !== ''){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있을 경우 추가한다.
                    if(data.buildingName !== ''){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
                    fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
                }

                // 주소 정보를 해당 필드에 넣는다.
                document.getElementById("sample5_address").value = fullAddr;
                // 주소로 상세 정보를 검색
                geocoder.addressSearch(data.address, function(results, status) {
                    // 정상적으로 검색이 완료됐으면
                    if (status === daum.maps.services.Status.OK) {

                        var result = results[0]; //첫번째 결과의 값을 활용

                        // 해당 주소에 대한 좌표를 받아서
                        var coords = new daum.maps.LatLng(result.y, result.x);

                        document.getElementById("x").value = result.address.x;
                        document.getElementById("y").value = result.address.y;
                        // 지도를 보여준다.
                        mapContainer.style.display = "block";
                        map.relayout();
                        // 지도 중심을 변경한다.
                        map.setCenter(coords);
                        // 마커를 결과값으로 받은 위치로 옮긴다.
                        marker.setPosition(coords)
                    }
                });
            }
        }).open();
    }
</script>



</body></html>
