<!DOCTYPE html>
<link rel="stylesheet" href="style.css">
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>TEST</h1>
    <br>
    <form action='/' method='post'>
      <input type='text' name='x' value='126.9670558'>
      <input type='text' name='y' value='37.5428137'>
      <input type='submit'>
  </body>
</html>
